@charset "UTF-8";

/**
  * coremedia extensions for custom components in 7.5 only
  *
  * @copyright       CoreMedia
  * @author          SEC /[8¬≡)>=°)=¦
  *
  * @lastmodified    wed 14.10.2015
  */

/**
  * [extend]
  * textarea with maximum width, we only apply another height here
  */
.property-field-max-width .text-property-field {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100% !important;
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
  font: normal 12px 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
}

/**
  * [extend]
  * issue handling
  */
.link-list-wrapper-hbox-layout.image-link-list-grid.issue-error,
.link-list-wrapper-hbox-layout.image-link-list-grid.issue-warn,
.link-list-wrapper-hbox-layout.image-link-list-grid.issue-info,
.link-list-wrapper-hbox-layout.image-link-list-grid.issue-change {
  box-shadow: none;
}

/**
  * special validation layout for grids with only one row
  */
.link-list-wrapper-hbox-layout.issue-error .catalog-link-grid .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  border-bottom: 1px solid rgba(255, 51, 0, 1);
}
.link-list-wrapper-hbox-layout.issue-warn .catalog-link-grid .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  border-bottom: 1px solid rgba(241, 162, 14, 1);
}
.link-list-wrapper-hbox-layout.issue-info .catalog-link-grid .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(65, 137, 221, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(65, 137, 221, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(65, 137, 221, 1);
  border-bottom: 1px solid rgba(65, 137, 221, 1);
}
.link-list-wrapper-hbox-layout.issue-change .catalog-link-grid .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  border-bottom: 1px solid rgba(102, 176, 69, 1);
}

/**
  * readonly states of catalog-link-grids
  */

.catalog-link-grid.readonly .x-grid3-row {
  background-color: #FFFFFF;
}

.catalog-link-grid.readonly div.x-grid3-cell-inner {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.catalog-link-grid.readonly .x-grid3-row.x-grid3-row-selected,
.catalog-link-grid.readonly .x-grid3-row.x-grid3-row-over.x-grid3-row-selected {
  background-color: #9F9C9C;
}

.catalog-link-grid.link-list-property .x-grid3-row.x-grid3-row-last {
  border-bottom: 1px solid #BCBCBC;
}

/**
  * [overwrite]
  * the grey box with round corners used by several containers
  */
.grey-box:not(.issue-warn) {
  -moz-box-shadow: 0 2px 2px -3px rgba(153, 153, 153, 1);
  -webkit-box-shadow: 0 2px 2px -3px rgba(153, 153, 153, 1);
  box-shadow: 0 2px 2px -3px rgba(153, 153, 153, 1);
}
.grey-box.grey-box-collapsed {
  box-shadow: none;
}

/**
  * [overwrite]
  * placement field overwrite
  */
.placements-property-field-wrapper .placement-field,
.placements-property-field-wrapper .placement-field .x-panel-header {
  margin-top: 12px !important;
}
.placements-layout-selector-item.highlighted {
  top: 0;
  right: 0;
}

/**
  * [extend]
  * nested form panels in documentForms
  */
.standard-collapsible-form-panel-ct .x-panel-header {
  position: relative;
}

/**
  * [override]
  * special layout for catalog link list
  */
.issue-error.link-list-wrapper-hbox-layout .link-list-property ~ .link-list-property-drop-container {
  border-image: none;
}

/**
  * [workaround]
  * empty catalog link after rendering had a space between the empty grid and the dropzone.
  */
.link-list-wrapper-hbox-layout .catalog-link-grid .x-grid3-body {
  line-height: 0;
}

/**
 * The class is applied for toolbar used in the search mode of the library.
 * Since the newly introduced switchingContainer for this toolbar, this fixes the with problem
 * of the container's children.
 */
.search-toolbar,
.search-toolbar .x-box-inner,
.search-toolbar-container > .x-box-inner{
  width: 100% !important;
}

/**
  * [extend]
  * specific rule to fix layout issue for grey colored collapsible in PublicationBulkResultPanel.exml, BulkResultPanel.exml
  */
.publication-bulk-result-panel .bulk-panel-group.collapsible-panel,
.bulk-result-tab-panel .bulk-panel-group.collapsible-panel {
  padding: 12px;
}
.publication-bulk-result-panel .bulk-panel-group.collapsible-panel.grey-box-collapsed:hover,
.bulk-result-tab-panel .bulk-panel-group.collapsible-panel.grey-box-collapsed:hover {
  padding-bottom: 6px;
}

/**
 * [extend]
 * @see TaxonomyFilterFieldset.exml
 *
 * If the search mode has been displayed without filters,
 * the taxonomy search filters are broken when the content search view is opened afterwards.
 * This fixes the problem by forcing a width, it would be 0px otherwise.
 */
.taxonomy-status-filter .x-form-field-trigger-wrap {
  width: 145px;
}
.standard-collapsible-form-panel-ct.grey-box.padding-bottom-5 {
  padding-bottom: 5px;
}
.standard-collapsible-form-panel-ct.grey-box.padding-bottom-5.grey-box-collapsed {
  padding-bottom: 6px;
}

.checkbox-field-label-margin{
  margin-top: 5px;
}

/**
  * no edit mode for name field and less design
  *
  * @see CatalogThumbnailOverlay.exml
  */
.x-menu.thumbnail-overlay.catalog {
  background-color: rgba(255, 255, 255, 1);
}
.x-menu.thumbnail-overlay-selected.thumbnail-overlay.catalog {
  background-color: rgba(236, 243, 252, 1);
}
.catalog-menu-separator {
  margin: 10px 9px 0 9px;
  opacity: .6;
}
.x-menu.thumbnail-overlay-selected .catalog-menu-separator {
  background-color: rgba(65, 137, 221, 1);
  opacity: .2;
}
.thumbnail-overlay.catalog .thumbnail-overlay-info {
  background-color: transparent;
  box-shadow: none;
  margin-top: 0;
}
.thumbnail-overlay.catalog .thumbnail-overlay-selected .thumbnail-overlay-info {
  box-shadow: none;
}
.thumbnail-overlay.catalog .thumbnail-overlay-text {
  font-size: 12px;
}
.thumbnail-overlay.catalog .thumbnail-overlay-info .thumbnail-overlay-name {
  cursor: default;
}
.thumbnail-overlay.catalog .thumbnail-overlay-info .thumbnail-overlay-name:hover,
.thumbnail-overlay-selected.catalog .thumbnail-overlay-info .thumbnail-overlay-name:hover {
  background-color: transparent;
  border-color: transparent;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}

/**
  * change padding of checkbox-groups to match the layout of other checkboxes
  */
.collection-status-filters .x-form-check-group .x-form-check-wrap {
  padding-top: 3px;
}
.collection-status-filters .x-form-check-group .x-column :last-child {
  margin-bottom: 0;
}

/**
  * [overwrite]
  * change design only for collapsible panels
  */
.bulk-panel-group.x-fieldset.collapsible-panel > .x-panel-header > .x-panel-header-text {
  padding-bottom: 5px;
}
.bulk-panel-group.x-fieldset.collapsible-panel.grey-box-collapsed > .x-panel-header > .x-panel-header-text {
  padding-bottom: 0;
}

/**
  * standard design for editorgrid or grids with bottom textfield
  *
  * @see StringListPropertyField.exml
  *
  * TODO: refactor to unite with link-list-property component
  */
.list-property-grid .x-panel-tbar,
.list-property-grid .x-panel-body,
.list-property-grid.x-grid-panel,
.list-property-grid .x-grid-empty,
.list-property-grid .x-grid3,
.list-property-grid .x-grid3-scroller,
.list-property-grid .x-grid3-body,
.list-property-grid .x-grid3-row-first.x-grid3-row-last,
.list-property-grid .x-grid3-row,
.list-property-grid .x-grid3-table {
  width: auto !important;
}
.list-property-grid {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.list-property-grid .x-grid3-row:hover {
  background: rgba(216, 231, 248, 1) none;
}
.list-property-grid .x-grid3-row-selected.x-grid3-row,
.list-property-grid .x-grid3-row-selected.x-grid3-row:hover {
  background: rgba(65, 137, 221, 1) none;
}
.list-property-grid .x-grid3-row {
  border: 1px solid rgba(188, 188, 188, 1);
  border-bottom: none;
  background-color: rgba(255, 255, 255, 1);
}
.list-property-grid .x-grid3-row-first {
  border-top: 1px solid rgba(188, 188, 188, 1);
}
.list-property-grid .x-grid3-row-first,
.list-property-grid .x-grid3-row-first.x-grid3-row-last {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.list-property-grid-container .list-property-input-field {
  -moz-border-radius: 0 0 2px 2px; /* firefox rounded corners */
  -webkit-border-radius: 0 0 2px 2px; /* webkit rounded corners */
  border-radius: 0 0 2px 2px; /* ie9 rounded corners */
}
.list-property-grid-container.issue-error,
.list-property-grid-container.issue-warn,
.list-property-grid-container.issue-info,
.list-property-grid-container.issue-change {
  box-shadow: none;
}

/**
  * selected rows (readonly)
  */
.list-property-grid.readonly .x-grid3-row-selected,
.list-property-grid.readonly .x-grid3-row.x-grid3-row-over.x-grid3-row-selected {
  background-color: rgba(159, 156, 156, 1);
}
.list-property-grid.readonly .x-grid3-row.x-grid3-row-over {
  background-color: rgba(220, 219, 219, 1);
}
.list-property-grid.readonly div.x-grid3-cell-inner,
.list-property-grid.x-masked .wrapper-btn-textlink .x-btn-text {
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.list-property-grid.readonly .x-grid3-row.x-grid3-row-over .x-grid3-cell-inner,
.list-property-grid.readonly .x-grid3-row.x-grid3-row-selected .x-grid3-cell-inner {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

/**
  * errors
  *
  * empty grid
  */
.list-property-grid-container.issue-error .x-grid3-row-first.x-grid3-row-last,
.list-property-grid-container.issue-error .list-property-input-field {
  border-color: rgba(255, 51, 0, 1);
  box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
}
.list-property-grid-container.issue-error.list-property-grid-empty .list-property-input-field {
  border-image: none;
}

/**
  * grid
  */
.list-property-grid-container.issue-error .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(255, 51, 0, 1);
  border-left: 1px solid rgba(255, 51, 0, 1);
  border-right: 1px solid rgba(255, 51, 0, 1);
  border-image: url(../../images/cm-custom/custom-ui/error-border-image.png) 1 1 0 4/1px 1px 0 4px round;
  border-bottom-width: 0;
}
.list-property-grid-container.issue-error .list-property-input-field {
  border-image: url(../../images/cm-custom/custom-ui/error-border-image-drop-container.png) 1 5 6 8/1px 5px 6px 8px round;
}
.list-property-grid-container.issue-error .x-grid3-row-first {
  border-image: none;
  border-top: 1px solid rgba(255, 51, 0, 1);
}

/**
  * warnings
  *
  * empty grid
  */
.list-property-grid-container.issue-warn .x-grid3-row-first.x-grid3-row-last,
.list-property-grid-container.issue-warn .list-property-input-field {
  border-color: rgba(241, 162, 14, 1);
  box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
}
.list-property-grid-container.issue-warn.list-property-grid-empty .list-property-input-field {
  border-image: none;
}

/**
  * grid
  */
.list-property-grid-container.issue-warn .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(241, 162, 14, 1);
  border-left: 1px solid rgba(241, 162, 14, 1);
  border-right: 1px solid rgba(241, 162, 14, 1);
  border-image: url(../../images/cm-custom/custom-ui/warn-border-image.png) 1 1 0 4/1px 1px 0 4px round;
  border-bottom-width: 0;
}
.list-property-grid-container.issue-warn .list-property-input-field {
  border-image: url(../../images/cm-custom/custom-ui/warning-border-image-drop-container.png) 1 5 6 8/1px 5px 6px 8px round;
}
.list-property-grid-container.issue-warn .x-grid3-row-first {
  border-image: none;
  border-top: 1px solid rgba(241, 162, 14, 1);
}

/**
  * changes
  *
  * empty grid
  */
.list-property-grid-container.issue-change .x-grid3-row-first.x-grid3-row-last,
.list-property-grid-container.issue-change .list-property-input-field {
  border-color: rgba(102, 176, 69, 1);
  box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
}
.list-property-grid-container.issue-change.list-property-grid-empty .list-property-input-field {
  border-image: none
}

/**
  * grid
  */
.list-property-grid-container.issue-change .x-grid3-row {
  box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -webkit-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  -moz-box-shadow: inset 3px 0 0 0 rgba(102, 176, 69, 1);
  border-left: 1px solid rgba(102, 176, 69, 1);
  border-right: 1px solid rgba(102, 176, 69, 1);
  border-image: url(../../images/cm-custom/custom-ui/change-border-image.png) 1 1 0 4/1px 1px 0 4px round;
  border-bottom-width: 0;
}
.list-property-grid-container.issue-change .list-property-input-field {
  border-image: url(../../images/cm-custom/custom-ui/change-border-image-drop-container.png) 1 5 6 8/1px 5px 6px 8px round;
}
.list-property-grid-container.issue-change .x-grid3-row-first {
  border-image: none;
  border-top: 1px solid rgba(102, 176, 69, 1);
}

/**
  * no body height for grid if empty, caused by &nbsp; bug
  */
.list-property-grid-container.list-property-grid-empty .x-grid3-body {
  line-height: 0;
}
.list-property-grid-container.list-property-grid-empty .x-form-empty-field,
.list-property-grid-container.list-property-grid-empty .x-form-focus {
  -moz-border-radius: 2px; /* firefox rounded corners */
  -webkit-border-radius: 2px; /* webkit rounded corners */
  border-radius: 2px; /* ie9 rounded corners */
}
.subcollapsible-commerce-catalog {
  margin-top: 12px !important;
}
.document-tab-panel .blob-property-field--assets .x-item-disabled img {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}
.device-type-slider-container .icon-label-img {
  margin-top: 4px;
}