<!-- = Handler, wird als erstes bei request aufgerufen und definiert Context Container -->
<!-- webapp/WEB-INF/web.xml -->
  <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           id="WebApp_ID" version="3.0">

    <display-name>To do list</display-name>
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>

    <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/todo-servlet.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/spring-mvc/*</url-pattern>
    </servlet-mapping>

    <!-- location of log4j config file -->
    <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>resources/log4j.properties</param-value>
    </context-param>
    <!-- applies log4j configuration -->
    <!--<listener>-->
      <!--<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
    <!--</listener>-->
</web-app>